<div class="page">
  <div class="component-sampler-base">
    <sg-home-termostat [maxTemp]="theMaxTemp" [minTemp]="theMinTemp" [currentTemp]="currentTemp" [weatherTemp]="weatherTemp"></sg-home-termostat>
  </div>
  <div class="component-options">
    <div class="options-header">COMPONENT OPTIONS</div>
    <div class="settings-row">
      <mat-form-field appearance="outline" [ariaSetSize]="'small'">
        <mat-label>Min. Temp.</mat-label>
        <input #minTempInput matInput placeholder="Minimum Temperature in Celsius" type="number" value="15">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="setTemp(minTempInput.value, TempTypes.Minimum)">Set Min. Temp.</button>
    </div>
    <div class="settings-row">
      <mat-form-field appearance="outline">
        <mat-label>Max. Temp.</mat-label>
        <input #maxTempInput matInput placeholder="Maximum Temperature in Celsius" type="number" value="75">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="setTemp(maxTempInput.value, TempTypes.Maximum)">Set Max. Temp.</button>
    </div>
    <div class="settings-row">
      <mat-form-field appearance="outline">
        <mat-label>Current Temp.</mat-label>
        <input #currentTempInput matInput placeholder="Current Temperature in Celsius" type="number" value="24">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="setTemp(currentTempInput.value, TempTypes.Current)">Set Temperature</button>
    </div>
    <div class="settings-row">
      <div class="section-header">Symantic Feedback From Weather Data</div>
      <mat-form-field appearance="outline">
        <mat-label>Find A City</mat-label>
        <input #weatherCity matInput placeholder="Ex: London">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="getWeatherData(weatherCity.value)">Get Symantic Feedback</button>
    </div>
  </div>
</div>