.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;

    .component-sampler-base {
        text-align: center;
        flex-grow: 1;
        padding: 8px;
    }

    .component-options {
        height: 100%;
        // margin: -8px -8px -8px 0;
        padding: 24px;
        background-color: #fff;
        width: 350px;
        box-sizing: border-box;

        .options-header {
            font-size: 24px;
            font-weight: 200;
            padding: 8px 0;
            margin-bottom: 16px;
        }

        .settings-row {
            padding: 16px 0;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            border-bottom: 1px solid #dedede;
            margin-bottom: 16px;

            mat-form-field {
                width: 100%;
            }

            button {
                width: 100%;
            }

            .section-header {
                padding-bottom: 12px;
                font-size: 14px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}